div.carousel.slide.carousel-fade
  div.carousel-inner
    div.item.active
      img(src='/fe/static/images/01.png', alt='')
    div.item
      img(src='/fe/static/images/02.jpg', alt='')
    div.item
      img(src='/fe/static/images/03.jpg', alt='')
    div.item
      img(src='/fe/static/images/04.jpg', alt='')
