div.carousel.slide
  div.carousel-inner
    div.item.active
      div(style="background-image: url('/fe/static/images/map.png'); height: 600px; width: 100%;")
      div.container
        div.carousel-caption
          div.carousel-caption-title
            h1 Step out to a new international travel experience
        a(href='/business').btn.btn-large.btn-primary know more &rsaquo;&rsaquo;
    div.item
      div(style='background-image: url("/fe/static/images/plane.jpg"); height: 600px; width: 100%;')
      div.container
        div.carousel-caption
          div.carousel-caption-title
            h1 Cost, convenience &amp; comfort in one package.
        a(href='/business').btn.btn-large.btn-primary know more &rsaquo;&rsaquo;
    div.item
      div(style='background-image: url("/fe/static/images/family.jpg"); height: 600px; width: 100%;')
      div.container
        div.carousel-caption
          div.carousel-caption-title
            h1 Global startup with bookings in 70 countries from 3 offices
        a(href='/business').btn.btn-large.btn-primary know more &rsaquo;&rsaquo;
    div.item
      div(style='background-image: url("/fe/static/images/relax.jpg"); height: 600px; width: 100%;')
      div.container
        div.carousel-caption
          div.carousel-caption-title
            h1 Best in industry savings 'coz we bulk buy, do predictive analysis.
        a(href='/business').btn.btn-large.btn-primary know more &rsaquo;&rsaquo;
