div#footer
  div.container
    div.row-fluid
      div.span4.offset2
        | &copy; 2012-13 WWStay All Rights Reserved.
        &nbsp; | &nbsp;
        a(href="/privacy", style='color: white;') Privacy policy
        &nbsp; | &nbsp;
        a(href="/terms", style='color: white;') Terms &amp; conditions
      div.span6
        div.row-fluid
          div.pull-right
            a(href="/business", class='go-green') BUSINESS TRAVEL
            span.go-pink.hspace
              | //
            a(href="/leisure", class='go-green') LEISURE TRAVEL
            span.go-pink.hspace
              | //
            a(href="/app/profile/deals", class='go-green') DEALS
        div.row-fluid
          div.pull-right
            a(href="/") HOME
            span &nbsp; | &nbsp;
            a(href="/about") ABOUT
            span &nbsp; | &nbsp;
            a(href="/careers") CAREERS
            span &nbsp; | &nbsp;
            a(href="/contact") CONTACT
            span &nbsp; | &nbsp;
            a(href="/app") DASHBOARD
        div(style='margin: 1em; 0').row-fluid
          div.pull-right
            a(href="http:/credits") CREDITS
            span &nbsp; | &nbsp;
            a(href="http://mixpanel.com/f/partner") Real time analytics by MIXPANEL
