div#footer
  div.container.content
    div.row
      div.span4.offset2.disclaimer
        p
          | &copy; 2012 WWStay All Rights Reserved | &nbsp;
          a(href="/privacy") Fine Print

      div.span6
        ul.nav.nav-pills.pull-right.go-green
          li
            a(href="/business") BUSINESS TRAVEL
          li.go-pink.hspace
            | //
          li
            a(href="/leisure") LEISURE TRAVEL
          li.go-pink.hspace
            | //
          li
            a(href="/deals") SPECIAL OFFERS
        ul.nav.nav-pills.pull-right.links
          li
            a(href="/") HOME
          li.hspace |
          li
            a(href="/about") ABOUT
          li.hspace |
          li
            a(href="/about") CAREERS
          li.hspace |
          li
            a(href="#") NEWS
          li.hspace |
          li
            a(href="#") BLOG
