div#footer
  div.container
    div.row-fluid
      div.pull-right
        a(href="/business", class='go-green') BUSINESS TRAVEL
        span.go-pink.hspace
          | //
        a(href="/leisure", class='go-green') LEISURE TRAVEL
        span.go-pink.hspace
          | //
        a(href="/app/profile/deals", class='go-green') DEALS
    div.row-fluid.vspace-two
      div.pull-right
        a(href="/") HOME
        span &nbsp; | &nbsp;
        a(href="/about") ABOUT
        span &nbsp; | &nbsp;
        a(href="/careers") CAREERS
        span &nbsp; | &nbsp;
        a(href="/news") NEWS
        span &nbsp; | &nbsp;
        a(href="http:/credits") CREDITS
    div.row-fluid
        p(style='text-align: center; color: white; font-size: 0.9em;')
          | &copy; 2012 WWStay All Rights Reserved | &nbsp;
          a(href="/privacy", style='color: white; text-decoration: none') Fine Print
          | &nbsp; | &nbsp;
          a(href="http://mixpanel.com/f/partner)
              img(src="http://mixpanel.com/site_media/images/partner/badge_blue.png", alt="Real Time Web Analytics")
