div.carouselBorder
div.container.marketing-landing
  div.row.bring-up
    div.span3.offset1
      div#business-travel
        a(href='/business') BUSINESS TRAVEL
    div.span3.offset1
      div#leisure-travel
        a(href='/leisure') LEISURE TRAVEL
    div.span3.offset1
      div#deals
        div.title
          h1 Bali @ 9999/-
        ul
          li
            a(href='/deals')
              img(src='/fe/static/images/deal.png', alt='')
        div.validity Offer till Christmas
        div.disclaimer *Conditions apply
