div.carouselBorder
div.container.marketing-generic
  div.row.bring-up
    div.span4
      div#business-travel
        a(href='/business') BUSINESS TRAVEL
    div.span4
      div#leisure-travel
        a(href='/leisure') LEISURE TRAVEL
    div.span4
      div#deals
        a(href='/leisure') DEALS
