div.carouselBorder
div.container.marketing-landing
  div.row-fluid.bring-up
    div.span3
      div.landing-business
        a(href='/business') BUSINESS TRAVEL
    div.span3.offset1
      div.landing-leisure
        a(href='/leisure') LEISURE TRAVEL
    div.span3.offset1
      div.landing-deals
        a(href='/app/profile/deals') DEALS
