div.carouselBorder
div.container.marketing-generic
  div.row.bring-up
    div.span4
      div.sprite-bandage
        a(href='/business') Business travel
    div.span4
      div.sprite-bandage
        a(href='/leisure') Executive leisure
    div.span4
      div.sprite-bandage
        a(href='/app/profile/deals') International deals
