div.carouselBorder
div.container.marketing-generic
  div.row.bring-up
    div.span4
      div.sprite-bandage
        a(href='/business') BUSINESS TRAVEL
    div.span4
      div.sprite-bandage
        a(href='/leisure') LEISURE TRAVEL
    div.span4
      div.sprite-bandage
        a(href='/app/profile/deals') SPECIAL DEALS
