div.navbar.navbar-fixed-top
  div.sprite-navbar
    div.container
      block navbar-logo
      div.nav-collapse.visible-desktop
        ul.nav
          li.sprite-facebook
            a(href='http://www.facebook.com/wwstay') Facebook
          li.sprite-twitter
            a(href='http://twitter.com/wwstay') Twitter
          li.sprite-gplus
            a(href='https://plus.google.com/103949997937127342839') G+
      div#contact-details
        div.content
          div.row-fluid.pull-right
            div.span6.hidden-phone
              | +1-877-659-9405<br>
              | +44-2035142181<br>
              | +91 (0)80 40969706
            div(style='border-left: 3px solid white; padding-left: 20px').span6
              a(href='mailto:travel@wwstay.com') TRAVEL@WWSTAY.COM
