div.navbar.navbar-fixed-top
  div.navbar-inner.sprite-navbar
    div.container
      button(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      block navbar-logo
      div.nav-collapse
        ul.nav
          li.sprite-facebook
            a(href='http://www.facebook.com/wwstay') Facebook
          li.sprite-twitter
            a(href='http://twitter.com/wwstay') Twitter
          li.sprite-gplus
            a(href='https://plus.google.com/103949997937127342839') G+
      div#contact-details
        div.sprite-suitcase
        div.content
          | CALL: +91 8040969706 / EMAIL: &nbsp;
          a(href='mailto:travel@wwstay.com') TRAVEL@WWSTAY.COM
