div.navbar.navbar-fixed-top
  div.sprite-navbar
    div.container
      block navbar-logo
      div.nav-collapse.visible-desktop
        ul.nav
          li.sprite-facebook
            a(href='http://www.facebook.com/wwstay') Facebook
          li.sprite-twitter
            a(href='http://twitter.com/wwstay') Twitter
          li.sprite-gplus
            a(href='https://plus.google.com/103949997937127342839') G+
      div#contact-details
        div.sprite-suitcase.visible-desktop
        div.content
          span.hidden-phone CALL: +1-888-420-9555 / EMAIL: &nbsp;
          a(href='mailto:travel@wwstay.com') TRAVEL@WWSTAY.COM
