div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      button(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/').brand WWstay
      div.nav-collapse
        ul.nav
          li#fb.social-icon
            a(href='http://www.facebook.com/wwstay') Facebook
          li#twitter.social-icon
            a(href='http://twitter.com/wwstay') Twitter
          li#gplus.social-icon
            a(href='https://plus.google.com/103949997937127342839') G+
      div#contact-details
        div#contact-suitcase
        div.content
          | CALL: +91 8040969706 
          span(style='color: #60710C; padding: 0 10px') Or
          | EMAIL: &nbsp;
          a(href='mailto:travel@wwstay.com') TRAVEL@WWSTAY.COM
