extends layout

block content
  div.container.content-generic-container
    div.row-fluid
      div.span3
        div.well.sidebar-nav
          ul.nav.nav-list
            li.active
              a(href="#") Events & Destinations
            li
              a(href="#") Plan your Itinerary
            li
              a(href="#") Unique Experiences


    .row-fluid.region
      .span4.pagination-centered
        img.shadow(src='http://farm6.staticflickr.com/5202/5199384392_025a17ace7_n.jpg', alt='Industry experience', data-content='http://www.flickr.com/photos/charles_hudson/5199384392/sizes/n/in/photostream/', data-img-attribution='data-img-attribution')
        br
        h2.pagination-centered Deep and tested industry experience
        p.pagination-centered
          | We are not a one-off ticket supplier. And definitely
          | not a mere room-booking agent. We are a company exclusively
          | designed for corporate traveller accommodation. Apart from
          | savings, commute and comfort, pre checked accommodations
          | ensure the standard and safety of your employee.


      .span4.pagination-centered
        img.shadow(src='http://farm7.staticflickr.com/6095/6355840185_8e1c4d8f11_n.jpg', alt='Save money with wwstay', height='213px', data-content='http://www.flickr.com/photos/68751915@N05/6355840185/sizes/n/in/photostream/', data-img-attribution='data-img-attribution')

        h2.pagination-centered Save with WWstay
        p.pagination-centered
          | Our services come from deep domain knowledge. We not only
          | give you the best savings on an ongoing basis, but also suggest
          | accommodation based on convenience, proximity of work, etc. A
          | combination of savings and knowledge make us the most authoritative
          | travel partner to have. People
          strong
          | typically save 15-20% on corporate
          | accomodation on an average.

      .span4.pagination-centered
        img.shadow(src='http://farm5.staticflickr.com/4010/4329363938_26522735d1.jpg', alt='Simple process', height='213px', data-content='Photo by http://www.flickr.com/photos/ilamont/4329363938/sizes/m/in/photostream/', data-img-attribution='data-img-attribution')
        h2.pagination-centered Simple process
        p.pagination-centered
          | We have a simple process that
          strong just works everywhere. 
          | All you have to do is mail us your travel schedule and office address.
          | We will revert to you within 30 minutes with multiple options
          | that are quick and easy commute. There are no hidden costs and inconveniences.
          | A confirmation email is all that is required to confirm the booking.

    .region.vspace-five
      h1.span12 Why us
      .row
        .span5
          img.shadow(src='http://farm5.staticflickr.com/4045/4530389174_8c733b0e32_z_d.jpg', alt='Why us', data-content='Photo by http://www.flickr.com/photos/pixagraphic/4244292846/sizes/z/in/photostream/', data-img-attribution='data-img-attribution')
        .span6.offset1
          .caption Bulk buying differently
          p.pagination-centered
            | While the average travel agent looks for the best deals
            | after you have given him your requirement, at WWstay we
            | use the bulk buying contracts to get a better price than
            | the Best Available Rate. This model will disprove the myth
            | that corporate rates give the best savings!
          .caption.vspace-two Hybrid Fulfilment Model With Tracking
          p.pagination-centered
            | With the support of advanced technology our travel experts
            | will find you the smartest solution and also save you money.
            | Clear, consolidated expense sheets, coupled with periodic
            | reports tracking your savings against the Best Available Rates,
            | will convince you of the difference.
          .caption.vspace-two Conveniences and Comfort
          p.pagination-centered
            | Our in-depth knowledge allows us to place your employee
            | in accommodations that are a quick commute to the office
            | with close proximity to public transport and eateries.
          .caption.vspace-two Global startup
          p.pagination-centered
            | We are a global startup for International accommodations.
            | WWstay's simple business model and deep domain knowledge ensures
            | compelling savings of 15-20% on your global accommodation expenses
        
