extends layout

block content
  div.container.white-bg
    div.row-fluid.vspace-two
      div.span4
        div.well.sidebar-nav
          ul.nav.nav-pills.nav-stacked
            li.nav-header We make business travel fun
            li.active
              a(href="#deep-tested", data-toggle='tab') Deep &amp; tested industry experience
            li
              a(href="#save-with-us", data-toggle='tab') Save with us
            li
              a(href="#simple-process", data-toggle='tab') Simple process
            li
              a(href="#cost-convenience", data-toggle='tab') Cost, convenience &amp; comfort
            li
              a(href="#bulk-buying", data-toggle='tab') Bulk &amp; predictive buying
            li
              a(href="#global-startup", data-toggle='tab') Global startup
      div.span8.well
        div.tab-content
          div.tab-pane.active#deep-tested
            h2 Deep &amp; tested industry experience
            hr
            img(src='http://farm6.staticflickr.com/5202/5199384392_025a17ace7_n.jpg', alt='Deep and tested industy experience').pull-right.thumbnail
            p Our services come from deep domain knowledge. We not only give you the best savings on an ongoing basis, but also suggest accommodation based on convenience, proximity of work, etc.  We work with several vendors to ensure a hassle free and safe travel.  We run several background checks before recommending a hotel.  We also solve the <b>problem of plenty</b> that other online portals conveniently place on travellers.
          div.tab-pane#save-with-us
            h2 Save with us
            hr
            img(src='http://farm7.staticflickr.com/6095/6355840185_8e1c4d8f11_n.jpg', alt='Save with us').pull-right.thumbnail
            p Our services come from deep domain knowledge. We not only give you the best savings on an ongoing basis, but also suggest accommodation based on convenience, proximity of work, etc. A combination of savings and knowledge make us the most authoritative travel partner to have. People typically <b>save 15-20% on corporate accomodation on an average</b>.
          div.tab-pane#simple-process
            h2 Simple process
            hr
            img(src='http://farm5.staticflickr.com/4010/4329363938_26522735d1.jpg', alt='Simple process').pull-right.thumbnail
            p We have a simple process that <b>just works everywhere</b>. All you have to do is mail us your travel schedule and office address. We will revert to you within 30 minutes with multiple options that are quick and easy commute. There are no hidden costs and inconveniences. A confirmation email is all that is required to confirm the booking.
          div.tab-pane#cost-convenience
            h2 Cost, convenience &amp; comfort
            hr
            img(src='http://farm3.staticflickr.com/2644/4008149325_5638d0175c_m_d.jpg', alt='Simple process').pull-right.thumbnail
            p Our in-depth knowledge allows us to place your employee in accommodations that are a quick commute to the office with close proximity to public transport and eateries.  Our pre-buying ensures that these hotel's are available even in peak season, at lesser price.  We work over email and phone, to make sure it is convenient to you to talk to us at any point.
          div.tab-pane#bulk-buying
            h2 Bulk buying and predictive analysis
            hr
            img(src='http://farm5.staticflickr.com/4122/5487448787_4f1b8f0da1_m_d.jpg', alt='Bulk buying').pull-right.thumbnail
            p While the average travel agent looks for the best deals after you have given him your requirement, at WWstay, we use the bulk buying contracts to get a better price than the best available rate.  We also use predictive techniques and learning algorithms to understand past trends and predict the future.  <b>We can almost certainly beat your corporate rate</b>!
          div.tab-pane#global-startup
            h2 Global startup
            hr
            img(src='http://farm3.staticflickr.com/2557/4177519542_2e3307c179_m_d.jpg', alt='Global startup').pull-right.thumbnail
            p We are a global startup for International accommodations.  We have booked in over 100 countries.  We have offices in New York, London &amp; Bangalore.  We offer 24/7 email and phone support.
