extends layout

block carousel
  include includes/carousel-plane

block content
  div.container.white-bg
    div.row-fluid.sprite-paper
    div.row-fluid.vspace-two
      div.span4
        ul.leftnav
          li.nav-header WWStay advantage
          li.active
            a(href="#challenges", data-toggle='tab') Business Challenges
          li
            a(href="#our-model", data-toggle='tab') Our model
          li
            a(href="#360-approach", data-toggle='tab') 360&deg; Approach
          li
            a(href="#payment", data-toggle='tab') Secure payment model
          li
            a(href="#save-with-us", data-toggle='tab') Assured savings of 10-15% savings over online rate
          li
            a(href="#cost-convenience", data-toggle='tab') Proprietary technology to maximize value
          li
            a(href="#simple-process", data-toggle='tab') Simple process
          li
            a(href="#global-startup", data-toggle='tab') Global startup
      div.span1.sprite-shadow
      div.span7.marketing-content
        div.tab-content
          div.tab-pane.active#challenges
            h3 Cost challenges
            ul
              li International trade is growing.
              li Travel costs are going up substantially.
              li Travel costs are not large to warrant the attention of CFO/Senior management.
              li International hotels require more location expertise.
              li Travel departments are not equipped to handle newer destinations.
              li Internet is changing the rules of distribution.
              li Corporate rates are becoming less effective due to dynamic pricing.
            h3 Employee Challenges
            ul
              li Corporates/TMCs are moving towards self help portals with corp/static rates
              li Multiple satisfaction factors in selecting rooms such as Comfort, Safety, Productivity, Commute, etc.
              li Employees need to spend valuable time &amp; effort to search in unknown locations
              li Employees are tech savvy and have high sensitivity and awareness due to internet.
              li Organization has to balance cost savings vs employee satisfaction.
          div.tab-pane#our-model
            h2 Our model
            ul
              li Have very few RFPs, use flexible model
              li Dynamic selection based on technology; use best of corporate/market rate.
              li Dynamic buying based on technology - yearly, seasonal, spot, distress; similar to commodity/stock buying
              li Use our expertise with technology for selection &amp; using parameters like cost, comfort, commute
                ul
                  li Relevant filtering of hotels with
                  li Relevant reviews
                  li Previous stays
                  li Expertise consulting
                  li Online feedback mechanism
              li Use public benchmark such as hotel website/online rate to compare prices.
              li Travel departments role to be more strategic
              li Involve employee in selection of hotel/apartment.
              li Provide 24x7 support for both before and post booking.
          div.tab-pane#360-approach
            h2 360&deg; Approach
            ul
              li Holistic approach to travel booking - Pre booking consulting, post booking emergency support, feedback mechanism.
              li Pre booking
                ul
                  li Optimizing cost, commute &amp; comfort.
                  li Neighborhood check and review
                  li Proximity &amp; security check
                  li Guaranteed room
              li Post booking support
                ul
                  li 24x7 email and phone support.
                  li Direct contacts with hotels.
              li Feedback loop
                ul
                  li Online feedback mechanism.
          div.tab-pane#payment
            h2 Secure Payment model
            ul
              li Direct bill to company
                ul
                  li payment within a week
                  li Wire transfer/Purchase card
                  li INR/USD/GBP/CAB/EUR
              li Direct payment by employee
                ul
                  li Amex/Master/Visa/Discover
                    ul
                      li (INR/USD/EUR/GBP/CAD)
                  LIL Travel cards (ICICI/AXIS etc)
                    ul
                      li USD
          div.tab-pane#save-with-us
            h2 Assured savings of 10-15% savings over online rate
            ul
              li Our services come from deep domain knowledge.
              li Bulk buying and pre negotiated contracts 
              li Annual, seasonal, distress &amp; spot buying
              li Each quote will have benchmark rate from hotel website/online rate.
              li Typical savings of 10-15% over online rate
          div.tab-pane#cost-convenience
            h2 Proprietary technology to maximize value
            ul
              li Smart profiling to find accommodation based on 
                ul
                  li Optimize cost, comfort, commute
                  li Emphasize security based on proximity
                  li Past preferences &amp; stay
                  li Reviews of similar companies
                  li Public reviews like TripAdvisor
              li Bulk buying and predictive analysis
                ul
                  li Pre purchase model
                  li Annual contracts &amp; seasonal, distress &amp; spot buying
                  li Intelligent buying technology to predict &amp; buy best deals
                  li Benchmarking with online rates
          div.tab-pane#simple-process
            h2 Simple process
            ul
              li Process that <b>just works everywhere</b>.
              li Multiple interfaces - email, web, &amp; phone.
              li Quick response within 1 hour.
              li Booking by just a confirmation mail
              li Payment through secure gateway
          div.tab-pane#global-startup
            h2 Global Startup
            ul
              li We are a global startup for International accommodations.
              li We have booked in over 100 countries.
              li Offices in New York, London &amp; Bangalore.
              li We offer 24/7 email and phone support.
              li Funded company

block extra-js
  script
    mixpanel.track('Business page')
