extends layout

block carousel
  include includes/carousel-map

block content
  div.container.white-bg
    div.row-fluid.sprite-paper
    div.row-fluid.vspace-two
      div.span4
        ul.leftnav
          li
            a(href="/about") The Company
          li.active
            a(href="/careers") Careers
      div.span1.sprite-shadow
      div.span7.marketing-content
        h2 Enthusiastic &amp; passionate programmer
        p We are building a platform that is using the latest and greatest in technology (or quite close to it).  Our primary programming languages are Python, JavaScript and Clojure.  We use Django and Nodejs extensively.  Some of the terms you will hear us use everyday and which are very close to us are TDD, continuous deployment, functional programming, peer review, etc. We are looking to add the first couple of developers to our team. They will be extremely passionate and highly motivated individuals who want to make a difference. The job will expose you to all aspects of web development, from setting up a server and looking at the logs to writing JavaScript and then some tests for that JavaScript as well. You will get a chance to work with and influence the technology choices.

        p The job will be in Bangalore, India. It is a pretty good climate around here.

        h4 Pre-requisites
        ul
          li You should have a github/bitbucket url with any code you have written. If you haven't come across any interesting problem, create a simple web app where people can submit recipes and view what others have posted.
          li You should have used an Unix environment to write programs for more than 2 years.
          li We are looking for developers with prior experience (3-7 years) but exceptional fresh graduates are welcome too.

        h4 You get
        ul
          li Above industry standards salary! We are funded and profitable.
          li A shiny new laptop with root access (you install whatever Unix you want) and a shiny new Blackberry.
          li To work with technologies that were relegated to your hack sessions at home/night.

        p To apply, send a mail to  <span class='badge badge-inverse'>careers@wwstay.com</span> with your github/bitbucket url.  Please don't send vanilla resumes without your github/bitbucket url or your open source contribution.

block extra-js
  script
    mixpanel.track('Careers page');
