extends layout

block carousel
  include includes/carousel-map

block content
  div.container.white-bg.visible-desktop
    div.vspace-five.row-fluid
      div.span4.offset2
        h3 Our offices
        hr
        p.vspace-two
          | <address>
          | <strong>WWStay Inc</strong> <span class='badge badge-inverse'>USA</span><br>
          | 315, Lowell Avenue, Suite 2B <br>
          | Hamilton <br>
          | NJ 08619. USA <br>
          | <abbr title='Phone'>Phone:</abbr> +1-609-751-9150<br>
          | <abbr title='Phone'>Phone:</abbr> +1-609-751-9151<br>
          | Toll free number: +1-888-420-9555<br>
          | Toll free number: +1-877-659-9405<br>
          | Fax: +1-609-423-0940<br>
        p.vspace-two
          | <strong>WWstay Services India Pvt. Ltd.</strong> <span class='badge badge-inverse'>India</span><br>
          | First Floor, #29, Empire Infantry, <br>
          | Infantry Road, <br>
          | Bangalore - 560001, INDIA <br>
          | <abbr title='Phone'>Phone:</abbr>+91 (0)80 40969706 <br>
        p.vspace-two
          | <strong>WWstay Ltd</strong> <span class='badge badge-inverse'>UK</span><br>
          | 4th Floor, Kings Suite, 15 College Road <br>
          | Harrow, Middlesex, HA1 1BA, UK <br>
          | <abbr title='Phone'>Phone:</abbr>+44-20-35142181 <br>
      div.span1.sprite-shadow
      div.span3
        h3 Contact emails
        hr
        p
          | Send us an email and we would be happy to respond to all your queries.
        dl
          dt For business queries
          dd 
            a(href='mailto:business@wwstay.com') Business
          dt For Feedback related to travel
          dd 
            a(href='mailto:feedback@wwstay.com') Feedback
          dt For everything else
          dd 
            a(href='mailto:support@wwstay.com') Support
            
block extra-js
  script
    mixpanel.track('Careers page');
