extends layout

block content
  div.container.white-bg
    div.row-fluid.sprite-paper
    div.row-fluid.vspace-two
      div.hero-unit
        h1 Thank you
        p People and project who made our work possible
      div
        dl.dl-horizontal
          dt Twitter Bootstrap
          dd http://twitter.github.com/bootstrap/
          dt Subtle patterns
          dd https://github.com/subtlepatterns/SubtlePatterns
      <small

block extra-js
  script(type='text/javascript')
    mixpanel.track('Credits page');
