extends layout

block navbar
  include includes/navbar-landing

block carousel
  include includes/carousel-landing

block marketing
  include includes/marketing-landing

block content
  div.container
    div.landing-recent_destination.vspace-five.row-fluid.visible-desktop
      div.recent-destinations
        ul
          li
            a(href="") !{country[0]}
          li
            a(href="") THAILAND
          li
            a(href="") CHENNAI
        ul
          li
            a(href="") DUBAI
          li
            a(href="") MOROCCO
          li
            a(href="") ROME
        ul
          li
            a(href="") DELHI
          li
            a(href="") MUMBAI
          li
            a(href="") NILE
        ul
          li
            a(href="") POLAND
          li
            a(href="") GERMANY
          li
            a(href="") OREGON

    div.image-tiles.row-fluid.visible-desktop
      div.column_01
        img(src="/fe/static/images/recent_destinations/01.jpg", alt="Place01")
      div.column_02
        div.row_01
          img(src="/fe/static/images/recent_destinations/02.jpg", alt="Place01")
        div.row_02
          img(src="/fe/static/images/recent_destinations/03.jpg", alt="Place01")
      div.column_03
        div.row_01
          img(src="/fe/static/images/recent_destinations/04.jpg", alt="Place01")
        div.row_02
          img(src="/fe/static/images/recent_destinations/05.jpg", alt="Place01")
      div.column_04
        img(src="/fe/static/images/recent_destinations/06.jpg",alt="Place01")

    div.row-fluid.vspace-five
      div.press.span4.paper#contactus
        div.content
          h4 REQUEST QUOTE
          p.vspace-two
            | Try us for free for a flavor of what we have to offer.
                
          form(action='/request', method='post').contact-form
            input(type='email', name='guest_email', placeholder='Enter email address').input-xlarge
            input(type='text', name='dest_city', placeholder='Destination city').input-xlarge
            input(type='date', name='check_in', placeholder='Check-in date').input-xlarge
            input(type='date', name='check_out', placeholder='Check-out date').input-xlarge
            input(type='text', name='budget', placeholder='Budget').input-xlarge
            div.form-actions
              button(type="submit", class='btn btn-inverse') GO
      div.press.span4#testimonials.paper
        div.content
          h4 Delighted &amp; happy
          div.vspace-two.testimonial
            blockquote
              p 
                | What can I say? Excellent! I would like to thank you and your
                | colleagues for your patient advice to me over the past year
                | and offering timely solutions. You are truly a professional
                | outfit, and it has been a pleasure doing business with you.
              small Travel Manager, Mid Size BPO Company

            blockquote.vspace-two
              p
                | I just wanted to thank you all at WW Stay for all your time and effort in offering us exemplary service. You have been polite professional and a pleasure to work with.  I shall be recommending you to others and look forward to doing more business with you in the future. Many Thanks.
              small Principal, Global Consulting Company for his personal holiday
      div.press.span4#twitter-feed.paper
        h4 Recent tweets
        div.tweet.vspace-two

block extra-js
  script
    $('.carousel').carousel();
  script(src='/fe/static/js/jquery.tweet.js')
  script
    jQuery(function($){
        $(".tweet").tweet({
            username: "wwstay",
            join_text: "auto",
            avatar_size: 32,
            count: 6,
            auto_join_text_default: "we said,",
            auto_join_text_ed: "we",
            auto_join_text_ing: "we were",
            auto_join_text_reply: "we replied to",
            auto_join_text_url: "we were checking out",
            loading_text: "loading tweets..."
        });
    });
    mixpanel.track('Landing page');
