extends layout

block carousel
  include includes/carousel-landing

block marketing
  include includes/marketing-landing

block content
  div.container
    div.recent-destinations-title.offset1.vspace-five
      div.recent-destinations
        ul
          li
            a(href="") SRI LANKA
          li
            a(href="") THAILAND
          li
            a(href="") CHENNAI
        ul
          li
            a(href="") DUBAI
          li
            a(href="") MOROCCO
          li
            a(href="") ROME
        ul
          li
            a(href="") DELHI
          li
            a(href="") MUMBAI
          li
            a(href="") NILE
        ul
          li
            a(href="") POLAND
          li
            a(href="") GERMANY
          li
            a(href="") OREGON
    div.image-tiles.offset1
      div.column_01
        img(src="/fe/static/images/recent_destinations/01.jpg", alt="Place01")
      div.column_02
        div.row_01
          img(src="/fe/static/images/recent_destinations/02.jpg", alt="Place01")
        div.row_02
          img(src="/fe/static/images/recent_destinations/03.jpg", alt="Place01")
      div.column_03
        div.row_01
          img(src="/fe/static/images/recent_destinations/04.jpg", alt="Place01")
        div.row_02
          img(src="/fe/static/images/recent_destinations/05.jpg", alt="Place01")
      div.column_04
        img(src="/fe/static/images/recent_destinations/06.jpg",alt="Place01")
    div.recentDestinationsfooter

    div.press.span3.offset1#contactus
      div.content
        h4 REQUEST A QUOTE
        p.vspace-two
          | Try us for free for a flavor of what we have to offer.
              
        div.contact-form
          input(type='text', placeholder='Enter email address').contactText-input
          input(type='text', placeholder='Destination city').contactText-input
          input(type='text', placeholder='Check-in date').contactText-input
          input(type='text', placeholder='Check-out date').contactText-input
          input(type='text', placeholder='Budget').contactText-input
          button(type="submit") GO

    div.press.span4#testimonials
      div.content
        h4 Delighted &amp; happy
        div.vspace-two.testimonial
          blockquote
            p
              | I like their quick response and ability to negotiate good deals.
              | I had problem a problem reaching the airport.  But I called
              | WWstay and they could arrange for a cab in quick time.
            small Joe Dash, Senior Legal Counsel

    div.press.span3#twitter-feed
      h4 Recent tweets
      div.tweet.vspace-two

block additional-js
  script(src='/fe/static/js/jquery.tweet.js')
  script
    jQuery(function($){
        $(".tweet").tweet({
            username: "wwstay",
            join_text: "auto",
            avatar_size: 32,
            count: 2,
            auto_join_text_default: "we said,",
            auto_join_text_ed: "we",
            auto_join_text_ing: "we were",
            auto_join_text_reply: "we replied to",
            auto_join_text_url: "we were checking out",
            loading_text: "loading tweets..."
        });
    });
