!!! 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="description", content="We provide accomodation solutions to business travellers")
    meta(name="author", content="WWstay Inc")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', href='/favicon.ico')
    title Welcome to WWstay
    link(rel='stylesheet', href='/fe/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Josefin+Sans|Dancing+Script')
    link(rel='stylesheet', href='/fe/static/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/fe/static/css/wwstay.css')

  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          button(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/').brand WWstay
          div.nav-collapse.collapse
            ul.nav
              li#fb.social-icon
                a(href='http://www.facebook.com/wwstay') Facebook
              li#twitter.social-icon
                a(href='http://twitter.com/wwstay') Twitter
              li#gplus.social-icon
                a(href='https://plus.google.com/103949997937127342839') G+
          div#contact-details
            div#contact-suitcase
            div.content
              | CALL: +91 (0)80 40969706 
              span(style='color: #60710C; padding: 0 10px') Or
              | EMAIL: &nbsp;
              a(href='mailto:travel@wwstay.com') TRAVEL@WWSTAY.COM
    
    div.carousel.slide.carousel-fade#my-carousel
      div.carousel-inner
        div.item.active
          img(src='/fe/static/images/slide-01.png', alt='')
          div.container
            div.carousel-caption
              div.carousel-caption-title
                h1 Step out to a new international travel experience
        div.item
          img(src='/fe/static/images/02.jpg', alt='')
          div.container
            div.carousel-caption
              div.carousel-caption-title
                h1 Cost, convenience &amp; comfort as one package.
        div.item
          img(src='/fe/static/images/03.jpg', alt='')
          div.container
            div.carousel-caption
              div.carousel-caption-title
                h1 Global startup with bookings in 70 countries &amp; 3 offices
        div.item
          img(src='/fe/static/images/04.jpg', alt='')
          div.container
            div.carousel-caption
              div.carousel-caption-title
                h1 Best in industry savings 'coz we bulk buy, do predictive analysis.
          

    div.container
      block content

      footer
        hr
        &copy; 2011-12 Global Stay service pvt Ltd.  All rights reserved.
        
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/fe/static/js/bootstrap.min.js')
    script
      $(function() {
        $('#my-carousel').carousel({
          interval: 5000
        });
      }); 
      $('.carousel').carousel()
      
    block js-variables
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36222984-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
