!!! 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="description", content="We provide accomodation solutions to business travellers")
    meta(name="author", content="WWstay Inc")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', href='/favicon.ico')
    title Welcome to WWstay
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Exo:400,600,700')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quicksand:700')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro:500')
    link(rel='stylesheet', href='/fe/static/css/screen.css')

  body
    block navbar
      include includes/navbar

    block carousel
      include includes/carousel-generic

    block marketing
      include includes/marketing-generic

    block content

    block footer
      include includes/footer
        
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/fe/static/js/bootstrap.min.js')
    script
      $('.carousel').carousel()
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36222984-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    script(type='text/javascript')
      $(function () {
      $('.bubbleInfo').each(function () {
      var distance = 10;
      var time = 250;
      var hideDelay = 500;
      var hideDelayTimer = null;
      var beingShown = false;
      var shown = false;
      var trigger = $('.trigger', this);
      var info = $('.popup', this).css('opacity', 0);
      $([trigger.get(0), info.get(0)]).mouseover(function () {
      if (hideDelayTimer) clearTimeout(hideDelayTimer);
      if (beingShown || shown) {
      // don't trigger the animation again
      return;
      } else {
      // reset position of info box
      beingShown = true;
      info.css({
      top: -90,
      left: -33,
      display: 'block'
      }).animate({
      top: '-=' + distance + 'px',
      opacity: 1
      }, time, 'swing', function() {
      beingShown = false;
      shown = true;
      });
      }
      return false;
      }).mouseout(function () {
      if (hideDelayTimer) clearTimeout(hideDelayTimer);
      hideDelayTimer = setTimeout(function () {
      hideDelayTimer = null;
      info.animate({
      top: '-=' + distance + 'px',
      opacity: 0
      }, time, 'swing', function () {
      shown = false;
      info.css('display', 'none');
      });
      }, hideDelay);
      return false;
      });
      });
      });
    block additional-js

