doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="description", content="We provide accomodation solutions to business travellers")
    meta(name="author", content="WWstay Inc")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', href='/favicon.ico')
    title Welcome to WWstay
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Exo:400,600,700')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quicksand:700')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro:500')
    link(rel='stylesheet', href='/fe/static/css/screen.css')
  body
    //
      [if lt IE 9]
      p
        | Your browser is <em>ancient!</em>.  Upgrade to a 
        a(href="http://browsehappy.com/") different browser
        | to experience this site
      [endif]

    block navbar
      include includes/navbar

    block carousel
      include includes/carousel-generic

    block marketing
      include includes/marketing-generic

    block content

    block footer
      include includes/footer
        
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/fe/static/js/bootstrap.min.js')
    script
      $('.carousel').carousel()
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36222984-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
