extends layout

block carousel
  include includes/carousel-relax

block content
  div.container.white-bg
    div.row-fluid.sprite-paper
    div.row-fluid.vspace-two
      div.span4
        ul.leftnav
          li.nav-header Your holiday at your pace
          li.active
            a(href="#events-destinations", data-toggle='tab') Groups, events &amp; conferences
          li
            a(href="#plan-itinerary", data-toggle='tab') Destinations
          li
            a(href="#unique-experiences", data-toggle='tab') Unique experiences
          li
            a(href="#luxury", data-toggle='tab') Luxury
      div.span1.sprite-shadow
      div.span7.marketing-content
        div.tab-content
          div.tab-pane.active#events-destinations
            h2 Groups, Events &amp; conferences
            hr
            ul
              li Accomodations for large groups
              li Organizing events &amp; conferences across the globe
              li Handling logistics &amp; high end technical infrastructure like live streaming
              li Planning &amp; executing events
              li Local sight seeing/culture tours
              li ... and more
          div.tab-pane#plan-itinerary
            h2 Destinations
            hr
            ul
              li Europe
                ul
                  li Paris - group booking with gala dinners
                  li Zurich - conference &amp; adventure tours
                  li Venice
                  li Rome
                  li London
                  li Edinborough
              li South east asia
                ul
                  li Phuket
                  li Bali
                  li Pattaya
                  li Bangkok
                  li Singapore
                  li Srilanka
              li America
                ul
                  li Miami
                  li Atlanta
                  li New York city
                  li San Fransisco
                  li Canada
              li ... and more
          div.tab-pane#unique-experiences
            h2 Unique experiences
            hr
            ul
              li Scuba diving
              li Snorkeling
              li Cross country driving
              li Trekking
              li Skiing
              li Wild life safari
              li Sky diving
              li ... and more
          div.tab-pane#luxury
            h2 Luxury
            hr
            ul
              li Top end cruises
              li Exotic Island getaways
              li Ultra luxury resorts
              li High end hotels
              li ... and more
          div.tab-pane#unique-experiences

block extra-js
  script
    mixpanel.track('Leisure page')
