extends layout

block content
  .container.marketing
    .row.mainMenulink
      .span4
        .mainMenuimage
          a(href='#') BUSINESS TRAVEL
      .span4
        .mainMenuimage-2
          a(href='#') LEISURE TRAVEL
      .span4
        .travelDeals
          .travelDealsTitle
            h1 Hong Kong @ 9999/-


