extends layout

block carousel
  include includes/carousel-relax

block content
  div.container.white-bg
    div.row-fluid.vspace-two
      div.span4
        div.well.sidebar-nav
          ul.nav.nav-pills.nav-stacked
            li.nav-header Your holiday at your pace
            li.active
              a(href="#events-destinations", data-toggle='tab') Events &amp; destinations
            li
              a(href="#plan-itinerary", data-toggle='tab') Plan your itinerary
            li
              a(href="#unique-experiences", data-toggle='tab') Unique experiences
      div.span8.well
        div.tab-content
          div.tab-pane.active#events-destinations
            h2 Events &amp; destinations
            hr
            img(src='http://farm7.staticflickr.com/6189/6139871568_7754f7d6d8_m_d.jpg', alt='Events & destinations').pull-right.thumbnail
            p We have helped corporates organize conferences and events around the world.  We can help you plan your event end to end or just handle the accommodation aspect of it.
          div.tab-pane#plan-itinerary
            h2 Plan your itinerary
            hr
            img(src='http://farm3.staticflickr.com/2234/2344196743_02bc6d14d4_m_d.jpg', alt='Plan your itinerary').pull-right.thumbnail
            p We can help you plan your itinerary and execute it.  We have worked with guests whose budget is fixed, whose dates are fixed or whose destinations are fixed.  Or who just want to back-pack.  We can plan holidays from Kerala backwaters to adventure tours in New Zealand.
          div.tab-pane#unique-experiences
            h2 Unique experiences
            hr
            img(src='http://farm3.staticflickr.com/2459/3960527305_4b012f2d9b_m_d.jpg', alt='Unique experience').pull-right.thumbnail
            p We can help you plan your itinerary and execute it.  We have worked with guests whose budget is fixed, whose dates are fixed or whose destinations are fixed.  Or who just want to back-pack.  We can plan holidays from Kerala backwaters to adventure tours in New Zealand.

block extra-js
  script
    mixpanel.track('Leisure page')
