extends layout

block content
  div.container.white-bg
    div.row-fluid.vspace-two
      div.span4
        div.well.sidebar-nav
          ul.nav.nav-list
            li.active
              a(href="#") Events & Destinations
            li
              a(href="#") Plan your Itinerary
            li
              a(href="#") Unique Experiences
      div.span8
        div.hero-unit
          h1 Events &amp; Destinations
          p Our services come from deep domain knowledge. We not only give you the best savings on an ongoing basis, but also suggest accommodation based on convenience, proximity of work, etc. A combination of savings and knowledge make us the most authoritative travel partner to have. People typically save 15-20% on corporate accomodation on an average
