extends layout

block content
  div.container.content-generic-container
    div.row-fluid
      div.span3
        div.well.sidebar-nav
          ul.nav.nav-list
            li.active
              a(href="#") The Company
            li
              a(href="#") Team
            li
              a(href="#") Careers
      .span7
        .hero-unit
          .hero-unitSpecial.noBorder
            h1 Global startup for international travel !
            p
              | We are not a one-off ticket supplier. And definitely not a mere room-booking agent. We are a company exclusively designed for corporate traveller accommodation. Apart from savings, commute and comfort, pre checked accommodations ensure the standard and safety of your employee.
        .apprentice-unit
          .mapTooltip

            .bubbleInfo
              div 
                img#01.trigger.triggerPos01(src='/fe/static/images/team/01.png', a='a')
              .popup.bubblePos01
                .popupHeader
                  .popupName Pradip P Caulagi.
                  .popupCountries
                .popupDescrip
                  | This dialogue box would be on mouse over of the pictures Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  | laboris
                .popupEmail pradip@wwstay.com
                .popupPhone 080 - 1234567890

            .bubbleInfo
              div 
                img#01.trigger.triggerPos02(src='/fe/static/images/team/01.png', a='a')
              .popup.bubblePos02
                .popupHeader
                  .popupName Pradip P Caulagi.
                  .popupCountries
                .popupDescrip
                  | This dialogue box would be on mouse over of the pictures Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  | laboris
                .popupEmail pradip@wwstay.com
                .popupPhone 080 - 1234567890

            .bubbleInfo
              div 
                img#01.trigger.triggerPos03(src='/fe/static/images/team/01.png', a='a')
              .popup.bubblePos03
                .popupHeader
                  .popupName Pradip P Caulagi.
                  .popupCountries
                .popupDescrip
                  | This dialogue box would be on mouse over of the pictures Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  | laboris
                .popupEmail pradip@wwstay.com
                .popupPhone 080 - 1234567890

            .bubbleInfo
              div 
                img#01.trigger.triggerPos04(src='/fe/static/images/team/01.png', a='a')
              .popup.bubblePos04
                .popupHeader
                  .popupName Pradip P Caulagi.
                  .popupCountries
                .popupDescrip
                  | This dialogue box would be on mouse over of the pictures Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  | laboris
                .popupEmail pradip@wwstay.com
                .popupPhone 080 - 1234567890
