extends layout

block content
  div.container.white-bg.visible-desktop
    div.row-fluid.sprite-paper
    div.row-fluid
      div(style='padding: 2em;')

        h2 WWStay Web Site Terms, Conditions, and Notices
        
        p
          | Welcome to the WW Stay website (the "Website"). This Website is provided to assist companies who subscribe the WW Stay service (each, a "Company") to manage their business travel needs, including gathering travel information, determining the availability of travel-related goods and services, making legitimate reservations for themselves or on behalf of others or otherwise transacting business with travel suppliers, and for no other purposes.
        
        p
          | The terms "we", "us", "our" and "WWStay" refer to WWStay, an Indian Private Limited company and or our subsidiaries including WWstay , USA and WWstay Ltd, UK.
        
        p
          | The term "you" refers to any employee/traveldesk of a Company visiting the Website, booking a reservation through this Website, and/or booking a reservation through WW Stay personnel.
        
        p
          | This Website is offered to you conditioned upon your acceptance without modification of all the terms, conditions, and notices set forth below (collectively, the "Terms of Use") and your compliance with the terms set forth in your Company's subscription agreement pursuant to travel services obtained through this Website. By accessing or using this Website in any manner, you agree to be bound by the Terms of Use. Please read the Terms of Use carefully. If you do not accept all of these terms and conditions, please do not use this Website. Be sure to return to this page periodically to review the most current version of the Terms of Use. We reserve the right at any time, at our sole discretion, to change or otherwise modify the Terms of Use without prior notice, and your continued access or use of this Website signifies your acceptance of the updated or modified Terms of Use.
        
        h3 USE OF THE WEBSITE
        p
          | As a condition of your use of this Website, you warrant that (i) you are at least 18 years of age, (ii) you possess the legal authority to create a binding legal obligation, (iii) you will use this Website in accordance with the Terms of Use, (iv) you will only use this Website to make legitimate reservations for yourself or on behalf of those parties within your Company for whom you are legally authorized to act, (v) all information supplied by you on this Website is true, accurate, current and complete, and (vi) you will safeguard your WW Stay account information and will supervise and be completely responsible for any use of your account by anyone other than you. To the extent that you are making travel reservations on behalf of another employee of your Company (e.g., as a travel manager, assistant or other representative), you represent and warrant that such employee agrees to and is bound by these terms and conditions. We retain the right at our sole discretion to deny access to anyone to this Website and the services we offer, at any time and for any reason, including, but not limited to, for violation of the Terms of Use.
        
        h3 PROHIBITED ACTIVITIES
        p
          | The content and information on this Website (including, but not limited to, price and availability of travel services), as well as the infrastructure used to provide such content and information, is proprietary to us or our suppliers and providers, or to your Company or those suppliers with whom your Company may have contracted directly with for travel services. While you may make limited copies of your travel itinerary (and related documents) for travel or services booked through this Website, you agree not to otherwise modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any information, software, products, or services obtained from or through this Website. Additionally, you agree not to :
        
        ul 
          li use this Website or its contents for any commercial purpose;
          li make any speculative, false, or fraudulent reservation or any reservation in anticipation of demand;
          li access, monitor or copy any content or information of this Website using any robot, spider, scraper or other automated means or any manual process for any purpose without our express written permission;
          li violate the restrictions in any robot exclusion headers on this Website or bypass or circumvent other measures employed to prevent or limit access to this Website;
          li take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately large load on our infrastructure;
          li deep-link to any portion of this Website (including, without limitation, the purchase path for any travel services) for any purpose without our express written permission; or
          li "frame", "mirror" or otherwise incorporate any part of this Website into any other website without our prior written authorization.

        h3 SUPPLIER RULES AND RESTRICTIONS
        p
          | If, despite the limitation above, the WW Stay Companies, the WW Stay Affiliates or their respective suppliers are found liable for any loss or damage which arises out of or in any way connected with any of the occurrences described above, then the WW Stay Companies, the WW Stay Affiliates or their respective suppliers liabilities will in no event exceed, in the aggregate, the greater of (a) the transaction fees assessed for your transactions on this Website, or (b) Five Thousand Rupees (INR5,000.00).

        h3 PRIVACY POLICY
        p
          | WWStay believes in protecting your privacy. Please click here to review our current Privacy Policy, which also governs your use of the Website, to understand our practices: <a href='/privacy'>WW Stay Privacy Policy</a>
        

        h3 CORPORATE TRAVEL POLICIES
        p
          | Your Company may provide WW Stay with its applicable travel policies ("Corporate Travel Policies"). We will assist your Company to apply the terms and conditions of its Corporate Travel Policies when transacting business with you. If you have any questions regarding the rules and regulations of your Corporate Travel Policy, please contact your Company directly for clarification.

        h3 PREPAID HOTEL RESERVATIONS
        p
          | You acknowledge that WW Stay pre-negotiates certain room rates with hotel suppliers to facilitate the booking of reservations on your behalf. The room rate displayed on the Website is a combination of the pre-negotiated room rate for rooms reserved on your behalf by WW Stay and the facilitation fee retained by WW Stay to compensate us for our services. You authorize WW Stay to book reservations for the total reservation price, which includes the room rate displayed on the Website, plus tax recovery charges, and service fees. You agree that your credit card will be charged by WW Stay for the total reservation price. Upon submitting your reservation request you authorize WW Stay to facilitate hotel reservations on your behalf, including making payment arrangements with hotel suppliers.
        
        p
          | You acknowledge that WW Stay does not collect taxes for remittance to applicable taxing authorities. The tax recovery charges on prepaid hotel transactions are a recovery of the estimated transaction taxes (e.g. sales and use, occupancy, room tax, excise tax, value added tax, etc) that WW Stay pays to the hotel supplier in connection with your hotel reservations. The hotel suppliers invoice WW Stay for tax amounts. The Hotel suppliers remit applicable taxes to the applicable taxing jurisdictions. WW Stay does not act as co-vendors with the supplier with whom we book or reserve our customer's travel arrangements. Taxability and the appropriate tax rate vary greatly by location. The actual tax amounts paid by WW Stay to the hotel suppliers may vary from the tax recovery charge amounts, depending upon the rates, taxability, etc. in effect at the time of the actual use of the hotel by our customers. We retain our service fees as compensation in servicing your travel reservation. Our service fees vary based on the amount and type of hotel reservation.

        p
          | You may cancel or change your prepaid hotel reservation, but you will be charged the cancellation or change fee indicated in the rules and restrictions for the hotel reservation. In addition, if you do not cancel or change your reservation before the cancellation policy period applicable to the hotel you reserved, which varies by hotel (usually 24 to 72 hours prior to your date of arrival), you will be subject to a charge of applicable nightly rates, tax recovery charges and service fees. In the event you do not show for the first night of the reservation and plan to check-in for subsequent nights in your reservation, you must confirm the reservation changes with WW Stay, as appropriate, no later than the date of the first night of the reservation to prevent cancellation of your reservation. You must make refund requests for no-shows or early checkouts within 60 days after checkout.

        p
          | You agree to pay any cancellation or change fees that you incur. In limited cases, some hotels do not permit changes to or cancellations of reservations after they are made, as indicated in the rules and restrictions for the hotel reservation. You agree to abide by the terms and conditions imposed with respect to your prepaid hotel reservations.

        h3 TRAVEL DESTINATIONS
        p
          | Although most travel, including travel to international destinations, is completed without incident, travel to certain destinations may involve greater risk than others. WW Stay urges passengers to review travel prohibitions, warnings, announcements and advisories issued by the United States Government prior to booking travel to international destinations. Information on conditions in various countries and the level of risk associated with travel to particular international

        p
          | BY OFFERING FOR SALE TRAVEL TO PARTICULAR INTERNATIONAL DESTINATIONS, WW STAY DOES NOT REPRESENT OR WARRANT THAT TRAVEL TO SUCH POINTS IS ADVISABLE OR WITHOUT RISK, AND IS NOT LIABLE FOR DAMAGES OR LOSSES THAT MAY RESULT FROM TRAVEL TO SUCH DESTINATIONS.

        h3 LIABILITY DISCLAIMER
        p
          | THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES PUBLISHED ON THIS WEBSITE MAY INCLUDE INACCURACIES OR ERRORS, INCLUDING PRICING ERRORS. IN PARTICULAR, WW STAY AND CORPORATE AFFILIATES (COLLECTIVELY, THE "WW STAY COMPANIES") AND THE AFFILIATED, CO-BRANDED AND/ OR LINKED WEBSITE PARTNERS THROUGH WHOM WE PROVIDE SERVICE (COLLECTIVELY, "WW STAY AFFILIATES") DO NOT GUARANTEE THE ACCURACY OF, AND DISCLAIM ALL LIABILITY FOR ANY ERRORS OR OTHER INACCURACIES RELATING TO THE INFORMATION AND DESCRIPTION OF THE HOTEL AND OTHER TRAVEL PRODUCTS DISPLAYED ON THIS WEBSITE (INCLUDING, WITHOUT LIMITATION, THE PRICING, PHOTOGRAPHS, LIST OF HOTEL AMENITIES, GENERAL PRODUCT DESCRIPTIONS, ETC.), MUCH OF WHICH INFORMATION IS PROVIDED BY THE RESPECTIVE SUPPLIERS. IN ADDITION, WW STAY EXPRESSLY RESERVES THE RIGHT TO CORRECT ANY PRICING ERRORS ON OUR WEBSITE AND/OR ON PENDING RESERVATIONS MADE UNDER AN INCORRECT PRICE. IN SUCH EVENT, WE WILL OFFER YOU THE OPPORTUNITY TO KEEP YOUR PENDING RESERVATION AT THE CORRECT PRICE OR, AT YOUR OPTION, WE WILL CANCEL YOUR RESERVATION WITHOUT PENALTY.
        
        p
          | HOTEL RATINGS DISPLAYED ON THIS WEBSITE ARE INTENDED AS ONLY GENERAL GUIDELINES, AND THE WW STAY COMPANIES AND THE WW STAY AFFILIATES DO NOT GUARANTEE THE ACCURACY OF THE RATINGS. THE WW STAY COMPANIES, THE WW STAY AFFILIATES AND THEIR RESPECTIVE SUPPLIERS MAKE NO GUARANTEES ABOUT THE AVAILABILITY OF SPECIFIC PRODUCTS AND SERVICES. THE WW STAY COMPANIES, THE WW STAY AFFILIATES AND THEIR RESPECTIVE SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES ON THIS WEBSITE AT ANY TIME.
        
        p
          | WWSTAY COMPANIES, WWSTAY AFFILIATES, AND THEIR RESPECTIVE SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES CONTAINED ON THIS WEBSITE FOR ANY PURPOSE, AND THE INCLUSION OR OFFERING OF ANY PRODUCTS OR SERVICES ON THIS WEBSITE DOES NOT CONSTITUTE ANY ENDORSEMENT OR RECOMMENDATION OF SUCH PRODUCTS OR SERVICES BY THE WW STAY COMPANIES OR THE WW STAY AFFILIATES. ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. THE WW STAY COMPANIES, THE WW STAY AFFILIATES, AND THEIR RESPECTIVE SUPPLIERS DISCLAIM ALL WARRANTIES AND CONDITIONS THAT THIS WEBSITE, ITS SERVERS OR ANY EMAIL SENT FROM THE WW STAY COMPANIES, THE WW STAY AFFILIATES, AND/OR THEIR RESPECTIVE SUPPLIERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THE WW STAY COMPANIES, THE WW STAY AFFILIATES, AND THEIR RESPECTIVE SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT.
        

        p
          | THE CARRIERS, HOTELS AND OTHER SUPPLIERS PROVIDING TRAVEL OR OTHER SERVICES ON THIS WEBSITE ARE INDEPENDENT CONTRACTORS AND NOT AGENTS OR EMPLOYEES OF THE WW STAY COMPANIES, OR THE WW STAY AFFILIATES. THE WW STAY COMPANIES AND THE WW STAY AFFILIATES ARE NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY SUCH SUPPLIERS OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM. THE WW STAY COMPANIES AND THE WW STAY AFFILIATES HAVE NO LIABILITY AND WILL MAKE NO REFUND IN THE EVENT OF ANY DELAY, CANCELLATION, OVERBOOKING, STRIKE, FORCE MAJEURE OR OTHER CAUSES BEYOND THEIR DIRECT CONTROL, AND THEY HAVE NO RESPONSIBILITY FOR ANY ADDITIONAL EXPENSE, OMISSIONS, DELAYS, RE-ROUTING OR ACTS OF ANY GOVERNMENT OR AUTHORITY.
        

        p
          | IN NO EVENT SHALL WWSTAY COMPANIES, WWSTAY AFFILIATES, AND/OR THEIR RESPECTIVE SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF, OR IN ANY WAY CONNECTED WITH, YOUR ACCESS TO, DISPLAY OF OR USE OF THIS WEBSITE OR WITH THE DELAY OR INABILITY TO ACCESS, DISPLAY OR USE THIS WEBSITE (INCLUDING, BUT NOT LIMITED TO, YOUR RELIANCE UPON OPINIONS APPEARING ON THIS WEB SITE; ANY COMPUTER VIRUSES, INFORMATION, SOFTWARE, LINKED SITES, PRODUCTS, AND SERVICES OBTAINED THROUGH THIS WEBSITE; OR OTHERWISE ARISING OUT OF THE ACCESS TO, DISPLAY OF OR USE OF THIS WEBSITE) WHETHER BASED ON A THEORY OF NEGLIGENCE, CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, AND EVEN IF THE WW STAY COMPANIES, THE WW STAY AFFILIATES AND/OR THEIR RESPECTIVE SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        

        p
          | If, despite the limitation above, the WW Stay Companies, the WW Stay Affiliates or their respective suppliers are found liable for any loss or damage which arises out of or in any way connected with any of the occurrences described above, then the WW Stay Companies, the WW Stay Affiliates or their respective suppliers liabilities will in no event exceed, in the aggregate, the greater of (a) the transaction fees assessed for your transactions on this Website, or (b) Five Thousand Rupees (INR5,000.00).
        
        p
          | The The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these terms is found to have failed of its essential purpose. The limitations of liability provided in these terms inure to the benefit of the WW Stay Companies, the WW Stay Affiliates, and/or their respective suppliers.
        

        h3 INDEMNIFICATION
        p
          | You agree to defend and indemnify the WW Stay Companies, the WW Stay Affiliates, and/or their respective suppliers and any of their officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought by third parties as a result of:
        
        ul
          li your breach of the Terms of Use or the documents referenced herein;
          li your violation of any law or the rights of a third party; or
          li your use of this Website.

        h3 LINKS TO THIRD-PARTY SITES
        p
          | This Website may contain hyperlinks to websites operated by parties other than WW Stay. Such hyperlinks are provided for your reference only. We do not control such websites and are not responsible for their contents or the privacy or other practices of such websites. Further, it is up to you to take precautions to ensure that whatever links you select or software you download (whether from this Website or other websites) is free of such items as viruses, worms, trojan horses, defects and other items of a destructive nature. Our inclusion of hyperlinks to such websites does not imply any endorsement of the material on such websites or any association with their operators.

        h3 SOFTWARE AVAILABLE ON THIS WEBSITE
        p
          | Any software that is made available to download from this Website ("Software") is the copyrighted work of WW Stay, WW Stay Affiliates, and/or our respective suppliers. Your use of such Software is governed by the terms of the end user license agreement, if any, which accompanies, or is included with, the Software ("License Agreement"). You may not install or use any Software that is accompanied by or includes a License Agreement unless you first agree to the License Agreement terms. For any Software made available for download on this Website not accompanied by a License Agreement, we hereby grant to you, the user, a limited, personal, nontransferable license to use the Software for viewing and otherwise using this Website in accordance with these terms and conditions and for no other purpose.
        
        p
          | Please note that all Software, including, without limitation, all HTML code and Active X controls contained on this Website, is owned by the WW Stay Companies, WW Stay Affiliates, and/or our respective suppliers, and is protected by copyright laws and international treaty provisions. Any reproduction or redistribution of the Software is expressly prohibited, and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible.
        
        p
          | WITHOUT LIMITING THE FOREGOING, COPYING OR REPRODUCTION OF THE SOFTWARE TO ANY OTHER SERVER OR LOCATION FOR FURTHER REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PROHIBITED. THE SOFTWARE IS WARRANTED, IF AT ALL, ONLY ACCORDING TO THE TERMS OF THE LICENSE AGREEMENT.
        
        h3 CURRENCY CONVERTER
        p
          | Currency rates are based on various publicly available sources and should be used as guidelines only. Rates are not verified as accurate, and actual rates may vary. Currency quotes are not updated every day. Check the date on the currency converter feature for the day that currency was last updated. The information supplied by this application is believed to be accurate, but the WW Stay Companies, the WW Stay Affiliates, and/or our respective suppliers do not warrant or guarantee such accuracy. When using this information for any financial purpose, we advise you to consult a qualified professional to verify the accuracy of the currency rates. We do not authorize the use of this information for any purpose other than your personal use and you are expressly prohibited from the resale, redistribution, and use of this information for commercial purposes.

        h3 GENERAL
        p
          | You agree that no joint venture, partnership, or employment relationship exists between you and the WW Stay Companies as a result of the Terms of Use or your use of this Website.

        p
          | Our performance hereunder is subject to existing laws and legal process, and nothing contained in the Terms of Use limits our right to comply with law enforcement or other governmental or legal requests or requirements relating to your use of this Website or information provided to or gathered by us with respect to such use. To the extent allowed by applicable law, you agree that you will bring any claim or cause of action arising from or relating to your access or use of this Website within two (2) years from the date on which such claim or action arose or accrued or such claim or cause of action will be irrevocably waived.
        
        p
          | The Terms of Use (and any other terms and conditions referenced herein) constitutes the entire agreement between you and WW Stay with respect to this Website and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral, or written, between you and WW Stay with respect to this Website (excluding the agreement between your Company and WW Stay). A printed version of this Terms of Use and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to the Terms of Use to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
        
        p
          | Fictitious names of companies, products, people, characters, and/or data mentioned on this Website are not intended to represent any real individual, company, product, or event.

        p Any rights not expressly granted herein are reserved.

        h3 SERVICE HELP

        p
          | For quick answers to your questions or ways to contact us, visit our Traveller Center. Or, you can write to us at:
          | <address>
          |  <strong>Global Stay Services Private Limited</strong> <br>
          |  First Floor, #29, Empire Infantry, <br>
          |  Infantry Road, <br>
          |  Bangalore - 560001, INDIA <br>
          |  <i class='icon-phone-sign'></i> +91 (0)80 40969706 <br>
          | <i class='icon-envelope-alt'></i> <a href='mailto:#'>business@wwstay.com</a> <br>
          | </address>

        strong Revised April 27, 2012

block extra-js
  script
    mixpanel.track('Terms page');
