@import "compass/utilities/sprites/base";

// General Sprite Defaults
// You can override them before you import this file.
$sprite-sprite-base-class: ".sprite-sprite" !default;
$sprite-sprite-dimensions: false !default;
$sprite-position: 0% !default;
$sprite-spacing: 0 !default;
$sprite-repeat: no-repeat !default;
$sprite-prefix: '' !default;
$sprite-clean-up: true !default;
$sprite-layout:vertical !default;
$sprite-inline: false !default;

  
 // These variables control the generated sprite output
 // You can override them selectively before you import this file.
 
   $sprite-bandage-position: $sprite-position !default;
   $sprite-bandage-spacing:  $sprite-spacing !default;
   $sprite-bandage-repeat:   $sprite-repeat !default;
 
   $sprite-chain-position: $sprite-position !default;
   $sprite-chain-spacing:  $sprite-spacing !default;
   $sprite-chain-repeat:   $sprite-repeat !default;
 
   $sprite-facebook-position: $sprite-position !default;
   $sprite-facebook-spacing:  $sprite-spacing !default;
   $sprite-facebook-repeat:   $sprite-repeat !default;
 
   $sprite-gplus-position: $sprite-position !default;
   $sprite-gplus-spacing:  $sprite-spacing !default;
   $sprite-gplus-repeat:   $sprite-repeat !default;
 
   $sprite-jeans-position: $sprite-position !default;
   $sprite-jeans-spacing:  $sprite-spacing !default;
   $sprite-jeans-repeat:   $sprite-repeat !default;
 
   $sprite-logo-small-position: $sprite-position !default;
   $sprite-logo-small-spacing:  $sprite-spacing !default;
   $sprite-logo-small-repeat:   $sprite-repeat !default;
 
   $sprite-logo-smaller-position: $sprite-position !default;
   $sprite-logo-smaller-spacing:  $sprite-spacing !default;
   $sprite-logo-smaller-repeat:   $sprite-repeat !default;
 
   $sprite-logo-position: $sprite-position !default;
   $sprite-logo-spacing:  $sprite-spacing !default;
   $sprite-logo-repeat:   $sprite-repeat !default;
 
   $sprite-navbar-position: $sprite-position !default;
   $sprite-navbar-spacing:  $sprite-spacing !default;
   $sprite-navbar-repeat:   $sprite-repeat !default;
 
   $sprite-paper-position: $sprite-position !default;
   $sprite-paper-spacing:  $sprite-spacing !default;
   $sprite-paper-repeat:   $sprite-repeat !default;
 
   $sprite-shadow-position: $sprite-position !default;
   $sprite-shadow-spacing:  $sprite-spacing !default;
   $sprite-shadow-repeat:   $sprite-repeat !default;
 
   $sprite-suitcase-position: $sprite-position !default;
   $sprite-suitcase-spacing:  $sprite-spacing !default;
   $sprite-suitcase-repeat:   $sprite-repeat !default;
 
   $sprite-twitter-position: $sprite-position !default;
   $sprite-twitter-spacing:  $sprite-spacing !default;
   $sprite-twitter-repeat:   $sprite-repeat !default;
 

 $sprite-sprites: sprite-map("sprite/*.png",
 
   $sprite-bandage-position: $sprite-bandage-position, 
   $sprite-bandage-spacing:  $sprite-bandage-spacing, 
   $sprite-bandage-repeat:   $sprite-bandage-repeat,
 
   $sprite-chain-position: $sprite-chain-position, 
   $sprite-chain-spacing:  $sprite-chain-spacing, 
   $sprite-chain-repeat:   $sprite-chain-repeat,
 
   $sprite-facebook-position: $sprite-facebook-position, 
   $sprite-facebook-spacing:  $sprite-facebook-spacing, 
   $sprite-facebook-repeat:   $sprite-facebook-repeat,
 
   $sprite-gplus-position: $sprite-gplus-position, 
   $sprite-gplus-spacing:  $sprite-gplus-spacing, 
   $sprite-gplus-repeat:   $sprite-gplus-repeat,
 
   $sprite-jeans-position: $sprite-jeans-position, 
   $sprite-jeans-spacing:  $sprite-jeans-spacing, 
   $sprite-jeans-repeat:   $sprite-jeans-repeat,
 
   $sprite-logo-small-position: $sprite-logo-small-position, 
   $sprite-logo-small-spacing:  $sprite-logo-small-spacing, 
   $sprite-logo-small-repeat:   $sprite-logo-small-repeat,
 
   $sprite-logo-smaller-position: $sprite-logo-smaller-position, 
   $sprite-logo-smaller-spacing:  $sprite-logo-smaller-spacing, 
   $sprite-logo-smaller-repeat:   $sprite-logo-smaller-repeat,
 
   $sprite-logo-position: $sprite-logo-position, 
   $sprite-logo-spacing:  $sprite-logo-spacing, 
   $sprite-logo-repeat:   $sprite-logo-repeat,
 
   $sprite-navbar-position: $sprite-navbar-position, 
   $sprite-navbar-spacing:  $sprite-navbar-spacing, 
   $sprite-navbar-repeat:   $sprite-navbar-repeat,
 
   $sprite-paper-position: $sprite-paper-position, 
   $sprite-paper-spacing:  $sprite-paper-spacing, 
   $sprite-paper-repeat:   $sprite-paper-repeat,
 
   $sprite-shadow-position: $sprite-shadow-position, 
   $sprite-shadow-spacing:  $sprite-shadow-spacing, 
   $sprite-shadow-repeat:   $sprite-shadow-repeat,
 
   $sprite-suitcase-position: $sprite-suitcase-position, 
   $sprite-suitcase-spacing:  $sprite-suitcase-spacing, 
   $sprite-suitcase-repeat:   $sprite-suitcase-repeat,
 
   $sprite-twitter-position: $sprite-twitter-position, 
   $sprite-twitter-spacing:  $sprite-twitter-spacing, 
   $sprite-twitter-repeat:   $sprite-twitter-repeat,
 
 $layout: $sprite-layout,
 $cleanup: $sprite-clean-up
 );


// All sprites should extend this class
// The sprite-sprite mixin will do so for you.
@if $sprite-inline {
  #{$sprite-sprite-base-class} {
    background-image: inline-sprite($sprite-sprites);
  } 
} @else {
  #{$sprite-sprite-base-class} {
    background: $sprite-sprites no-repeat;
  }
}
//sass functions to return the dimensions of a sprite image as units

  @function sprite-sprite-width($name) {
    $file: sprite_file($sprite-sprites, $name);
    @return image-width($file);
  }

  @function sprite-sprite-height($name) {
    $file: sprite_file($sprite-sprites, $name);
    @return image-height($file);
  }


// Use this to set the dimensions of an element
// based on the size of the original image.
@mixin sprite-sprite-dimensions($name) {
  @include sprite-dimensions($sprite-sprites, $name)
}

// Move the background position to display the sprite.
@mixin sprite-sprite-position($name, $offset-x: 0, $offset-y: 0) {
  @include sprite-background-position($sprite-sprites, $name, $offset-x, $offset-y)
}

// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
@mixin sprite-sprite($name, $dimensions: $sprite-sprite-dimensions, $offset-x: 0, $offset-y: 0) {
  @extend #{$sprite-sprite-base-class};
  @include sprite($sprite-sprites, $name, $dimensions, $offset-x, $offset-y)
}

@mixin sprite-sprites($sprite-names, $dimensions: $sprite-sprite-dimensions, $prefix: sprite-map-name($sprite-sprites), $offset-x: 0, $offset-y: 0) {
  @include sprites($sprite-sprites, $sprite-names, $sprite-sprite-base-class, $dimensions, $prefix, $offset-x, $offset-y)
}

// Generates a class for each sprited image.
@mixin all-sprite-sprites($dimensions: $sprite-sprite-dimensions, $prefix: sprite-map-name($sprite-sprites), $offset-x: 0, $offset-y: 0) {
  @include sprite-sprites(bandage chain facebook gplus jeans logo-small logo-smaller logo navbar paper shadow suitcase twitter, $dimensions, $prefix, $offset-x, $offset-y);
}