.sprite-sprite, .sprite-bandage, .sprite-chain, .sprite-facebook, .sprite-gplus, .sprite-logo-small, .sprite-logo-smaller, .sprite-logo, .sprite-navbar, .sprite-suitcase, .sprite-twitter {
  background: url('/fe/static/images/sprite-s7c66203958.png') no-repeat;
}

.sprite-bandage {
  background-position: 0 -507px;
  height: 116px;
  width: 296px;
}

.sprite-chain {
  background-position: 0 -649px;
  height: 60px;
  width: 32px;
}

.sprite-facebook {
  background-position: 0 -709px;
  height: 26px;
  width: 22px;
}

.sprite-gplus {
  background-position: 0 -623px;
  height: 26px;
  width: 22px;
}

.sprite-logo-small {
  background-position: 0 -231px;
  height: 152px;
  width: 222px;
}

.sprite-logo-smaller {
  background-position: 0 -383px;
  height: 124px;
  width: 187px;
}

.sprite-logo {
  background-position: 0 -60px;
  height: 171px;
  width: 261px;
}

.sprite-navbar {
  background-position: 0 0;
  height: 60px;
  width: 1280px;
}

.sprite-suitcase {
  background-position: 0 -761px;
  height: 23px;
  width: 29px;
}

.sprite-twitter {
  background-position: 0 -735px;
  height: 26px;
  width: 22px;
}

.sprite-navbar {
  background-repeat: repeat-x;
  width: 100%;
}

.sprite-logo,
.sprite-logo-small,
.sprite-logo-smaller {
  float: left;
  display: block;
  text-indent: -9999PX;
}

.sprite-logo {
  height: 165px;
}

.sprite-logo-small {
  height: 152px;
}

.sprite-logo-smaller {
  height: 124px;
}

.sprite-suitcase {
  float: left;
  margin-right: 15px;
}

.sprite-bandage {
  /* http://css-tricks.com/adding-stroke-to-web-text/ */
  /* http://css-tricks.com/examples/TextStroke/ */
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  color: white;
  text-shadow: 3px 3px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.landing-sprite, .landing-business, .landing-deals, .landing-leisure, .landing-recent_destination {
  background: url('/fe/static/images/landing-sb790876331.png') no-repeat;
}

.landing-business {
  background-position: 0 -308px;
  height: 320px;
  width: 270px;
}

.landing-deals {
  background-position: 0 0;
  height: 308px;
  width: 259px;
}

.landing-leisure {
  background-position: 0 -628px;
  height: 308px;
  width: 259px;
}

.landing-recent_destination {
  background-position: 0 -936px;
  height: 131px;
  width: 940px;
}

body {
  background: url("/fe/static/images/cream_bg.png") repeat scroll 0px 0px transparent;
}

h1 {
  font-family: "Exo", sans-serif;
  color: white;
}

.vspace-two {
  margin-top: 2em;
}

.vspace-five {
  margin-top: 5em;
}

.hspace {
  padding: 0 1em;
}

blockquote {
  border-left: 5px solid maroon;
}

.disclaimer {
  font-weight: lighter;
  text-align: left;
  color: white;
}

.navbar-fixed-top {
  position: absolute;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 white;
}

.navbar .nav > li {
  float: left;
  margin-right: 8px;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: right;
  margin: 27px 10px 0 0;
}

.navbar .nav a {
  text-indent: -9999px;
}

.social-icon {
  width: 22px;
  height: 25px;
}

#contact-details {
  float: right;
  margin-top: 75px;
  margin-right: -70px;
}

#contact-details .content {
  float: right;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  line-height: 28px;
}

#contact-details .content a {
  color: white;
}

.carousel {
  margin-bottom: 0;
}

.carousel, .carousel .item {
  height: 450px;
}

.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel .container {
  position: relative;
  margin-top: -300px;
  height: 60px;
}

.carousel-caption {
  background: none;
}

.carousel-caption h1, .carousel-caption .lead {
  padding: 5px 10px;
  font-size: 32px;
  font-weight: 400;
  color: white;
}

.carousel-caption-title,
.carousel .carousel-inner .btn-large {
  background: #333;
  background: rgba(0, 0, 0, 0.65);
}

.carousel-caption-title {
  float: right;
}

.carousel .carousel-inner .btn-large {
  float: right;
  margin: 60px 13px 0 0;
}

.marketing-landing {
  margin-top: -100px;
}

.marketing-generic {
  margin-top: -400px;
}

.bring-up {
  position: relative;
  z-index: 99;
  margin-bottom: 30px;
}

.carouselBorder {
  background: url(/fe/static/images/carouselBorder.png);
  background-repeat: repeat-x;
  height: 60px;
}

.marketing-landing .bring-up a {
  height: 338px;
  width: 288px;
  display: block;
  text-indent: -9999px;
}

.marketing-landing #deals h1 {
  text-align: center;
  font-size: 32px;
  padding: 35px 0 10px;
  font-weight: 700;
}

.marketing-landing #deals ul {
  padding: 0;
  margin: 0 0 10px 25px;
}

.marketing-landing #deals li {
  float: right;
  margin: 6px 30px 6px -2px;
  width: 150px;
  height: 100px;
  border: 2px #deb97b solid;
  list-style: none;
}

.marketing-landing #deals li img {
  max-width: 100%;
  height: auto;
  width: 100%;
  border: 0;
}

.marketing-landing #deals .validity {
  float: right;
  margin-right: 35px;
  width: 300px;
  text-align: right;
  font-size: 20px;
  color: white;
}

.marketing-landing #deals .disclaimer {
  margin-left: 18px;
  margin-top: 18px;
  float: left;
}

/* Image is not visible when we inherit this rule */
.marketing-landing #deals ul li a {
  display: inline;
}

.recent-destinations {
  float: right;
  margin: 10px 5px 0 0;
  width: 450px;
  height: 90px;
}

.recent-destinations ul {
  margin: 0 0 0 7px;
  float: left;
}

.recent-destinations li {
  list-style: none;
  width: 88px;
  height: 22px;
  background: white;
  text-align: center;
  margin: 0 16px 7px 0;
}

.recent-destinations li a {
  color: #404041;
  font-size: 10px;
  font-family: "Exo", sans serif;
  font-weight: bold;
}

.image-tiles {
  height: 250px;
  width: 916px;
  background: #D1EFF4;
  margin-top: -50px;
  position: relative;
  z-index: -1;
  padding: 13px;
}

.column_01 {
  width: 303px;
  height: auto;
  float: left;
  margin: 5px;
}

.column_02 {
  width: 204px;
  height: 280px;
  float: left;
  margin: 5px;
}

.column_03 {
  width: 250px;
  height: 280px;
  float: left;
  margin: 5px;
}

.column_04 {
  width: 119px;
  height: 280px;
  float: left;
  margin-left: 5px;
}

.recent-destinations .footer {
  position: relative;
  margin-top: -40px;
  background: url("/fe/static/images/sprite-background.png") no-repeat -317px -249px;
  width: 940px;
  height: 40px;
}

.press .content {
  margin: 20px;
}

.paper {
  background: no-repeat url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png) 0 0;
  background-color: #EBEBEB;
  background-repeat: repeat;
}

.press h4 {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#contactus h4 {
  color: #C82600;
}

#testimonials h4 {
  color: #6A8A2A;
}

#twitter-feed h4 {
  color: #3B5998;
  margin: 20px 0 0 15px;
}

.tweet, .query {
  font: 11PX Tahoma, Geneva, sans-serif;
  color: #696A6C;
}

.tweet ul {
  margin: 0 10px 0 10px;
}

.tweet_list .tweet_avatar {
  padding-right: .5em;
  float: left;
}

.tweet_list li {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  list-style-type: none;
  line-height: 11px;
  height: 35px;
  margin-bottom: 10px;
}

.tweet_time {
  margin-right: 5px;
  color: black;
}

#footer {
  height: 425px;
  background: url("/fe/static/images/footerBg.png") repeat-x;
  position: relative;
  color: white;
}

#footer .container {
  position: absolute;
  margin: 0;
  bottom: 20px;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer .go-green,
#footer .go-pink {
  font-size: 18px;
}

#footer .go-pink {
  color: #C3188D;
}

#footer a.go-green {
  color: #2CC75C;
}

.white-bg {
  background: white;
  opacity: 0.9;
  position: relative;
}

.region .caption {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.carousel .item {
  -webkit-transition: opacity 6s;
  -moz-transition: opacity 6s;
  -ms-transition: opacity 6s;
  -o-transition: opacity 6s;
  transition: opacity 6s;
}

.carousel .active.left {
  left: 0;
  opacity: 0;
  z-index: 2;
}

.carousel .next {
  left: 0;
  opacity: 1;
  z-index: 1;
}

.sprite-bandage a {
  font-size: 2.1em;
  color: #DAC8A7;
  position: absolute;
  top: 50px;
  padding-left: 10px;
  text-decoration: none;
}

.sprite-bandage a:hover {
  text-decoration: none;
}
