h1 {
  font-family: 'Exo', sans-serif;
  color: white;
}
.vspace-two {
  margin-top: 2em;
}
.vspace-five {
  margin-top: 5em;
}
.hspace {
  padding: 0 1em;
}

.disclaimer {
  font-weight: lighter;
  text-align: left;
  color: white;
}

.navbar-fixed-top {
  position: absolute;
}
.navbar-inverse .navbar-inner {
  background: url(/fe/static/images/navbar-pattern.png);
  background-repeat: repeat-x;
}

.brand {
  background: url(/fe/static/images/sprite-background.png);
  background-position: 0 0;
  height: 160px;
  width: 250px;
  text-indent: -9999PX;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 white;
}

.navbar .nav > li {
  float: left;
  margin-right: 8px;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: right;
  margin: 27px 10px 0 0;
}

.navbar .nav a {
  text-indent: -9999px;
}

.social-icon {
  width: 22px;
  height: 25px;
}

#fb {
  background: url(/fe/static/images/sprite-background.png) no-repeat -27px -180px;
}
#twitter {
  background: url(/fe/static/images/sprite-background.png) no-repeat -56px -180px;
}
#gplus {
  background: url('/fe/static/images/sprite-background.png') no-repeat -86px -180px;
}

#contact-details {
  float: right;
  margin-top: 75px;
  margin-right: -70px;
}
#contact-suitcase {
  float: left;
  margin-right: 15px;
  background: url('/fe/static/images/sprite-background.png') no-repeat -118px -223px;
  width: 33px;
  height: 22px;
}
#contact-details .content {
  float: right;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  line-height: 28px;
}
#contact-details .content a {
  color: white;
}

.carousel {
  margin-bottom: 0;
}
.carousel, .carousel .item {
  height: 450px;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.carousel .container {
  position: relative;
  margin-top: -250px;
  height: 60px;
}
.carousel-caption {
  background: none;
}
.carousel-caption h1, .carousel-caption .lead {
  padding: 5px 10px;
  font-size: 32px;
  font-weight: 400;
  color: white;
}
.carousel-caption-title {
  background: #333;
  background: rgba(0, 0, 0, 0.65);
}
.carousel-caption-title {
  float: right;
}

.marketing {
  margin-top: -900px;
}
.bring-up {
  position: relative;
  z-index: 99;
  margin-bottom: 30px;
}

.carouselBorder {
  background: url(/fe/static/images/carouselBorder.png);
  background-repeat: repeat-x;
  height: 60px;
}

#contentBG {
  margin: 0 auto;
  position: relative;
  z-index: -9;
  margin-top: -60px;
  background: url(/fe/static/images/contentBack.jpg) repeat;
  height: 821px;
  width: 1394;
}
.marketing .bring-up a {
  height: 338px;
  width: 288px;
  display: block;
  text-indent: -9999px;
}
#business-travel {
  margin: 0 10px;
  background: url(/fe/static/images/sprite-background.png) no-repeat -29px -598px;
  width: 288px;
  height: 338px;
}
#leisure-travel {
  margin: 10px;
  background: url('/fe/static/images/sprite-background.png') no-repeat -336px -610px;
  width: 263px;
  height: 314px;
}
#deals {
  background: url('/fe/static/images/sprite-background.png') no-repeat -13px -947px;
  width: 361px;
  height: 313px;
}

#deals h1 {
  text-align: center;
  margin-top: 25px;
  font-size: 32px;
  padding: 65px 0 10px;
  font-weight: 700;
}

#deals ul {
  padding: 0;
  margin: 0 0 10px 25px;
}

#deals li {
  float: left;
  margin: 0 3px 0 -2px;
  width: 150px;
  height: 100px;
  border: 2px #DEB97B solid;
  list-style: none;
}

#deals li img {
  max-width: 100%;
  height: auto;
  border: 0;
}

#deals .validity {
  float: right;
  margin-right: 35px;
  width: 300px;
  text-align: right;
  font-size: 20px;
  color: white;
}

#deals .disclaimer {
  margin-left: 18px;
}

/* Image is not visible when we inherit this rule */
#deals ul li a {
  display: inline;
}

.recent-destinations-title {
  background: url('/fe/static/images/sprite-background.png') no-repeat -322px -13px;
  width: 942px;
  height: 128px;
}

.recent-destinations {
  float: right;
  margin: 10px 5px 0 0;
  width: 450px;
  height: 90px;
}
.recent-destinations ul {
  margin: 0 0 0 7px;
  float: left;
}
.recent-destinations li {
  list-style: none;
  width: 88px;
  height: 22px;
  background: white;
  text-align: center;
  margin: 0 16px 7px 0;
}

.recent-destinations li a {
  color: #404041;
  font-size: 10px;
  font-family: 'Exo', sans serif;
  font-weight: bold;
}

.image-tiles {
  height: 250px;
  width: 916px;
  background: #D1EFF4;
  margin-top: -50px;
  position: relative;
  z-index: -1;
  padding: 13px;
}
.column_01 {
  width: 303px;
  height: auto;
  float: left;
  margin: 5px;
}
.column_02 {
  width: 204px;
  height: 280px;
  float: left;
  margin: 5px;
}
.column_03 {
  width: 250px;
  height: 280px;
  float: left;
  margin: 5px;
}
.column_04 {
  width: 119px;
  height: 280px;
  float: left;
  margin-left: 5px;
}
.recent-destinations .footer {
  position: relative;
  margin-top: -40px;
  background: url('/fe/static/images/sprite-background.png') no-repeat -317px -249px;
  width: 940px;
  height: 40px;
}

#contactus, #testimonials, #twitter-feed {
  background: url('/fe/static/images/sprite-background.png') no-repeat -627px -316px;
}

#twitter-feed {
  height: 255px;
}

.press .content {
  margin: 20px;
}

.press h4 {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
}
#contactus h4 {
  color: #C82600;
}
#testimonials h4 {
  color: #6A8A2A;
}
#twitter-feed h4 {
  color: #3B5998;
  margin: 20px 0 0 15px;
}

.tweet, .query {
  font: 11PX Tahoma, Geneva, sans-serif;
  color: #696A6C;
}
.tweet ul {
  margin: 0 10px 0 10px;
}
.tweet_list .tweet_avatar {
  padding-right: .5em;
  float: left;
}
.tweet_list li {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  list-style-type: none;
  line-height: 11px;
  height: 35px;
  margin-bottom: 10px;
}
.tweet_time {
  margin-right: 5px;
  color: black;
}

#footer {
  height: 425px;
  margin-top: -180px;
  background: url('/fe/static/images/footerBg.png') repeat-x;
  position: relative;
  z-index: -1;
}

#footer .content {
  position: absolute;
  margin: 0;
  bottom: 20px;
}

#footer .disclaimer a {
  color: white;
}

#footer .nav-pills li a {
  padding: 0;
}

#footer .links a {
  color: white;
}

#footer .go-green,
#footer .go-green a {
  text-decoration: none;
  color: #2CC75C;
  font-size: 18px;
}

#footer .go-pink {
  color: #C3188D;
}
