@import "sprites/_sprite";

// Overrides
$sprite-sprite-dimensions: true;
$sprite-position: 20px;

$sprite-paper-long-dimensions: false;

@include all-sprite-sprites;

.sprite-navbar {
  background-repeat: repeat-x;
  width: 100%;
}

.sprite-logo,
.sprite-logo-small,
.sprite-logo-smaller {
  float: left;
  display: block;
  text-indent: -9999PX;
}

.sprite-logo {
  height: 165px;
}

.sprite-logo-small {
  height: 152px;
}

.sprite-logo-smaller {
  height: 124px;
}

.sprite-suitcase {
  float: left;
  margin-right: 15px;
}

.sprite-bandage {
  /* http://css-tricks.com/adding-stroke-to-web-text/ */
  /* http://css-tricks.com/examples/TextStroke/ */

  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  color: white;
  
  text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
