head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Welcome to WWstay
  meta(name='description', content='We provide accomodation solutions to business travellers')
  meta(http-equiv='content-type', content='text/html;charset=UTF-8')
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  style(type='text/css')
      body {
      padding-top: 90px;
      padding-bottom: 40px;
      }
  link(href='http://fonts.googleapis.com/css?family=Balthazar', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/wwstay.css')

body
  .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#')
            img.logo(src='/images/logo-new.png', alt='Logo')
          .nav-collapse
            ul.nav
              li
                a(href='#home')
                  i.icon-home
                  | Home
              li
                a(href='#case-studies')
                  i.icon-user
                  | Case studies
              li
                a(href='#contact')
                  i.icon-envelope
                  | Contact
              li
                a(href='jobs.html')
                  i.icon-github
                  | Jobs
              li
                a(href='tryus.html')
                  i.icon-key
                  | Try us

  .container
    .hero-unit
        h1 Safe & hassle free business travel
        p Make your corporate travel safe & enjoyable with us.  And save Money too!

    #fb-root
    #home.row-fluid.region
    .span8
        .row-fluid
          .span6
            .caption Deep and tested industry experience
            p
              | We are not a one-off ticket supplier. And definitely
              | not a mere room-booking agent. We are a company exclusively
              | designed for corporate traveller accommodation. Apart from
              | savings, commute and comfort, pre checked accommodations
              | ensure the standard and safety of your employee.
          .span6
            .caption Save with WWstay
            p
              | Our services come from deep domain knowledge.  We not only
              | give you the best savings on an ongoing basis, but also suggest
              | accommodation based on convenience, proximity of work, etc. A
              | combination of savings and knowledge make us the most authoritative
              | travel partner to have.  People
              strong
                | typically save 15-20% on corporate
                | accomodation on an average
              | .
        .row-fluid.region
          .span6
            .caption.vspace-two Global startup
            p
              | We are a global startup for International accommodations.
              | We have booked in over 100 countries around the globe.  We
              | have offices in 3 countries.  We offer 24/7 phone and email
              | support - before and during your stay.
          .span6
            .caption.vspace-two Conveniences and Comfort
            p
              | Our in-depth knowledge allows us to place your employee
              | in accommodations that are a quick commute to the office
              | with close proximity to public transport and eateries.
        .row-fluid
          .span6
            .caption.vspace-two Bulk buying differently
            p
              | While the average travel agent looks for the best deals
              | after you have given him your requirement, at WWstay we
              | use the bulk buying contracts to get a better price than
              | the Best Available Rate. This model will disprove the myth
              | that corporate rates give the best savings!
          .span6
            .caption.vspace-two Hybrid Fulfilment Model With Tracking
            p
              | With the support of advanced technology our travel experts
              | will find you the smartest solution and also save you money.
              | Clear, consolidated expense sheets, coupled with periodic
              | reports tracking your savings against the Best Available Rates,
              | will convince you of the difference.
      .span4
        .fb-like-box(data-href='https://www.facebook.com/pages/WWstay/306454526119134', data-width='370', data-show-faces='true', data-stream='true', data-header='true')
        br
        br


    #case-studies.row.region.vspace-five

      h1.span12 Case studies
      #case-studies-carousel.carousel.span6.offset3

        .carousel-inner

          .item
            img.shadow(src='http://farm3.staticflickr.com/2511/3902764265_05408a72ca_b_d.jpg', alt='London image', title='Big ben symbolising London')
          .carousel-caption
            h4 London, UK
            p
              | A senior employee required a hotel in London in Kensington.  He would
              | be having meetings with his clients in the hotel. The property that we
              | identified was close to his work location and was a four star property.
              | However, the hotel rate was 348 £ per night which was well
              | beyond the budget. We were successful in booking the employee in the same
              | hotel for 218 £ with breakfast included.

          .item
            img.shadow(src='http://farm3.staticflickr.com/2070/2537964560_cc509ecbbc_z_d.jpg', alt='Baltimore city', title='Baltimore federal hill')
          .carousel-caption
            h4 Baltimore, USA
            p
              | The client preferred a hotel that was within walking distance of his work location.
              | Baltimore's famous horse race was also going to be conducted
              | towards the end of his stay. The rates for the hotels near the work
              | location were expensive. We managed to identify a four star hotel which was
              | very close to the client's work location. The room rate was 220 USD per
              | night which was well beyond the budget. We secured a booking at the same
              | hotel for 139 USD and included breakfast in the package as well. Due to the
              | horse race the hotel was sold out during the last night of the guest's stay.
              | We were able to accommodate the guest in a sister property which was close
              | to this hotel for the same rate for the last night.

          .item
            img.shadow(src='http://farm3.staticflickr.com/2513/4031266257_a4d572376e_b_d.jpg', alt='Frankfurt image')

          .carousel-caption
            h4 Frankfurt, Germany
            p
              | The request was received on July third and the guest required hotel
              | accommodation at the city center the very next day. Despite the guest's
              | budgetary constraints we did not compromise on quality. The hotel that we
              | provided was a 5 star property. Our rate was 130 €
              | including breakfast whereas the rate charged by the hotel was 469 € with breakfast.
              | Apart from the immense savings,
              | we executed this transaction in 16 minutes by which time the guest had
              | his confirmation.

          .item
            img.shadow(src='http://farm9.staticflickr.com/8429/7520408764_9708ceda89_z_d.jpg', alt='Montreal city')
          .carousel-caption
            h4 Montreal, Canada
            p
              | The guests were staying for 26 days in Montreal and required a property close
              | to their work location in the city center. We realized that a property with a
              | kitchen would suit the needs of the guests. Availability was also a challenge
              | during this period of stay.  We chose a property that was within walking distance
              | of the work location.  We also jumped a few hoops to offer the hotel at
              | 102 CAD, while the online price was 167 CAD and not available!

          .item
            img(src='http://farm1.staticflickr.com/109/275915104_837ed25427_z_d.jpg', alt='Hong Kong city')
          .carousel-caption
            h4 Hong Kong
            p
              | The guest was travelling to Hong Kong to relocate and required hotel
              | accommodation for the first five days. The constraint was that he required
              | a hotel close to the city center within 900 HKD. We secured his booking in
              | a 3 star property for 783 HKD including breakfast and internet access in the
              | package. Moreover the guest found it easy to commute to his work location.

          .item
            img(src='http://farm4.staticflickr.com/3134/2768320712_5a51b0a1eb_z_d.jpg', alt='Singapore national orchid garden')
          .carousel-caption
            h4 Singapore
            p
              | The guest who was travelling to Singapore preferred to stay in
              | a 3 star property. However, Marriott, the popular choice, was over budget with only one
              | room left. The client's budget of 280 USD. We secured
              | another hotel which was 570 meters from the preferred location for 254 USD
              | with breakfast when the rate at the hotel was 318 USD without breakfast.
              | The hotel being a four star property provided good standards of accommodation
              | and service were maintained.


          .item
            img(src='http://farm8.staticflickr.com/7268/7520198984_a1e38144ae_z_d.jpg', alt='Polish police')
          .carousel-caption
            h4 Warsaw, Poland
            p
              | The guest was travelling to Poland for the first time. She required a
              | good hotel close to her office location as she was unfamiliar with the
              | place.  Moreover security was also a concern because of the unfamiliarity.
              | We were able to secure a booking in a four star property close to her work
              | location for 120 € when the hotel website rate was over 200 €.

          .item
            img(src='http://farm4.staticflickr.com/3221/3128029738_bfb63dabd2_z_d.jpg', alt='Federation square, Melbourne', title='Federation square, Melbourne')
          .carousel-caption
            h4 Melbourne, Australia
            p
              | The guest was travelling to Melbourne Australia with his family for work.
              | The initial duration of his stay had a series of events such as concert,
              | Australian football games and an exhibition as well which is why
              | availability was a challenge and the rates were high. We received the
              | travel request a day prior to his departure with his family. The solution
              | we provided was in a four star apartment hotel
              | situated right next to a tram stop which made commute easy. Moreover, we
              | procured it for a rate of 105 AUD per night when the rate that the hotel
              | charged was 244 AUD. As the hotel was not available for one of the
              | days during the first week, we even gave the guest an alternative hotel for
              | one night close to his budget which was also close to public transport.

          .item
            img(src='http://farm5.staticflickr.com/4140/4742028291_a6af0f9950_z_d.jpg', alt='Shanghai city')
          .carousel-caption
            h4 Shanghai, China
            p
              | The guest's were travelling to Shanghai for over fifteen nighs. Their work
              | location, however, was in a business park far from the city center which had
              | familiar apartment hotel brands that were present across the globe. We were
              | extremely hesitant to give some of the accommodation options near the work
              | location. We were soon successful in identifying a property
              | that had a kitchen in its suites which was very close to the work location.
              | We secured the booking at a rate of 115 USD when the hotel's rate for the
              | same room was over 145 USD. This particular property, apart from having a
              | kitchen which most of its other counterpart properties didn't have, also had a four
              | star rating. This not only suited the client's requirements, it exceeded
              | their expectations.  The accomodation arranged by us was in a safe locality
              | with good commute options.
        a.left.carousel-control(href='#case-studies-carousel', data-slide='prev') ‹
        a.right.carousel-control(href='#case-studies-carousel', data-slide='next') ›

    #contact.region.vspace-five
      h1.span12 Contact
      .row
        .span5.offset1 
          img(src='http://farm6.staticflickr.com/5043/5340515934_2d72503f6f_n_d.jpg', alt='Contact us')


        .span4.offset2

          address
            | 315, Lowell Avenue, Suite 2B,
            br
            | Hamilton
            br
            | NJ 08619. USA
            br
            i.icon-phone-sign
            | 609-318-3035
            br
            i.icon-envelope-alt
            a(href='mailto:#') business@wwstay.com
            br
          address
            strong Global Stay Services Private Limited
            br
            | First Floor, #29, Empire Infantry,
            br
            | Infantry Road,
            br
            | Bangalore - 560001, INDIA
            br
            i.icon-phone-sign
            | +91 (0)80 40969706
            br
            i.icon-envelope-alt
            a(href='mailto:#') business@wwstay.com
            br
          address
            strong WWstay Ltd
            br
            | 4th Floor, Kings Suite, 15 College Road
            br
            | Harrow, Middlesex, HA1 1BA, UK
            br
            i.icon-phone-sign
            | +44 (0) 20 8515 7053
            br
            i.icon-envelope-alt
            a(href='mailto:#') business@wwstay.com
            br
    hr.vspace-five
    footer
      p
        | © 2011 Globalstay Services Pvt Ltd.  All rights reserved.
        span.pull-right
          a(href='/jobs')
            i.icon-github
            | Jobs
            | |
          a(href='/terms')
            i.icon-legal
            | Terms & conditions
            | |
          a(href='/privacy')
            i.icon-wrench
            | Privacy
            | |
          a(href='/credits')
            i.icon-heart
            | Credits

  script
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')

  script
    window.jQuery || document.write('<script src="/static/js/jquery-1.7.2.min.js"><\\/script>')
  script(src='/javascripts/jquery.smooth-scroll.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/wwstay.js')
  script
    var _gaq=[['_setAccount','UA-33320687-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  script
    var uvOptions = {};
    (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/D8yNBWRuIvqDgYpht0R5Q.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();